@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --primary-color: #ff004f;
    --background-color: black; 
    --text-color: #fff;
    /* --font-family: 'Open Sans', sans-serif; */
    --font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
/* ------------------------------------------------------------------------------------- */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    display: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    text-align: center;
    font-size: 22px;
    background-color: var(--primary-color); 
    color: var(--text-color);
  }
.flex{
    display: flex;
}
.container{
    padding: 10px 10%;
}

.sub-title{
    font-size: 4rem;
    
}
.auto-type {
    color: var(--primary-color);
}

@media (max-width:900px) {
    .sub-title{
        font-size: 2rem;
    }
}
/* ------------------------------------------------------------------------------------- */
.home .heading
{
    color: var(--primary-color);
}

.sub-heading,
.sub-text{
    color: var(--text-color);
}

.home-container .sub-text{
    font-size: 20px;
}

.home{
    background-color: var(--background-color);
}

.home .heading {
    font-size: 4rem;
    white-space: nowrap;
}

.sub-heading {
    font-size: 2rem;
}

.image-container img {
    height: 400px;
    width: 400px;
    border-radius: 200px;
}

.download-pdf{
    border: none;
    border-radius: 25px;
    margin-top: 15px;
    padding: 10px;
    background-color: var(--primary-color);
}

.button-container {
    margin-top: 25px;
}

.download-pdf a {
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--text-color);
}

.home {
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

@media (max-height:500px) {
    .home-container {
        margin-top: 25px;
    }
}

@media (max-width:900px) {
    .image-container img {
        height: 300px;
        width: 300px;
        border-radius: 150px;
        margin-top: 25px;
    }

    .home .heading {
        font-size: 2.5rem;
        text-align: center;
    }

    .sub-heading {
        font-size: 1.5rem;
    }

    .heading,
    .sub-heading,
    .sub-text {
        text-align: center;
    }

    .button-container {
        display: flex;
        justify-content: center;
        margin: auto;

    }

    .home {
        flex-direction: column;
        justify-content: center;
    }

}

/* ------------------------------------------------------------------------------------------- */

.about{
    padding: 50px 0;
    background-color: var(--background-color);
    color: var(--text-color);
    /* min-height: 100vh; */
}
.about-title, .logo-container h2{
    color: var(--primary-color);
}


.about-img img{
    border-radius: 20px;
    height: 400px;
    
}

.content-container{
    display: flex;
    margin-top: 30px;
}

.about-container{
    margin-left: 50px;
}

.about-text p{
    text-align: justify;
}

.logos img{
    height: 60px;
    width: 60px;
    margin-right: 20px;
    transition: transform 0.5s;
}

.logo-container{
    margin-top: 25px;
}
.logos{
    margin-top: 15px;
}
.about-title{
    margin-bottom: 10px;
}

.logos img:hover{
    transform: scale(1.2);
}
@media (max-width : 900px){
    .content-container{
        flex-direction: column;
    }

    .about-img img{
        height: 100%;
        width: 100%;
    }

    .about-container{
        margin-left: 0;
    }
    .logos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .logos img{
        margin: 8px;
    }

    .about-container{
        margin-top: 10px;
    }
    
}

/* ---------------------------------------------------------------------------------------------- */
.collaboration{
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 50px 0;
    min-height: 80vh;
}

.collaboration-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.qual{
    background: #262626;
    padding: 40px;
    border-radius: 25px;
    transition: background 0.8s;
}
.qual h3{
    font-size: 28px;
    color: var(--primary-color);
}
.qual p{
    font-size: 20px;
}
.qual p {
    margin-top: 10px;
}

.qual:hover{
    background: var(--primary-color);
}

.qual:hover h3{
    color: var(--text-color);
}

@media (max-width: 900px){
    .qual p{
        font-size: 16px;
    }
    .qual h3{
        font-size: 22px;
    }
}

/* ------------------------------------------------------------------------------------------ */
.teams{
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 50px 0;
}


.team-img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: transform 0.5s;
}

.team-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.team{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.desc-layer{
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), var(--primary-color));
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    transition: height 0.7s;
}

.desc-layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.desc-layer a{
    margin-top: 20px;
    color: var(--primary-color);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    text-align: center; 
}

.team:hover img{
    transform: scale(1.1);
}

.team:hover .desc-layer{
    height: 100%;
}

.bg-white{
    background-color: #fff;
}

/* .object-fit{
    object-fit: contain;
} */

/* -------------------------------------------------------------------------------------- */

.contact{
    background-color: var(--background-color);
    color: var(--text-color);
}

.icons{
    font-size: 1.5rem;
    color: var(--primary-color);
}

.contact a{
    text-decoration: none;
}

.icons-text{
    color: var(--text-color);
}

.icons-text:hover{
    color: #ccc;
}

.contact span i{
    margin-right: 20px;
}

.contact-container{
    margin-top: 100px;
    justify-content: space-between;
}

.github{
    margin-top: 20px;
    margin-bottom: 40px;
}

.social-apps{
    margin-top: 20px;
}

.social-apps a{
    margin-right: 8px;
}

.social-apps p{
    font-size: 20px;
    margin-bottom: 15px;
}

.social-apps a i:hover{
    transform: scale(1.2);
}


.contact-form form input{
    display: block;
    padding: 15px;
    width: 50vw;
    background-color: #262626;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 10px;
    margin-bottom: 15px;
}

.contact-form form textarea{
    display: block;
    background-color: #262626;
    color: var(--text-color);
    padding: 15px;
    width: 100% ;
    border: 1px solid var(--text-color);
    border-radius: 10px;
}

#send-button{
    padding: 8px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 16px;
    border-radius: 10px;
    width: 150px;
    margin-top: 35px;
    margin-bottom: 45px;
}



@media (max-width:900px){
    .contact-container{
        flex-direction: column;
        margin-top: 50px;
    }
    .contact-form{
        margin-top: 40px;
    }
    .contact-form form input, .contact-form form textarea{
        width: 100%;
    }
}


/* --------------------------------------------------------------------- */
footer{
    border-top: 1px solid #ccc;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 35px;
}